<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Title</title>
    <style>
        table{
            border-spacing: 5px;
            width: 100%;
            font-family: sans-serif;
            border-collapse: collapse;
        }
        table, th, td{
            border: 1px solid black;
        }
        th{
            background-color: #582C83;
            color: white;
        }
        th,td{
            padding: 15px;
        }
        tr:hover{
            background-color: #CFBFDF
        }
    </style>
</head>
<body>
    <h1>COVID DATA</h1>
    <div class="" id="alertMessage"></div>
    <table id="myTable" class="sortable">
        <thead>
            <tr>
                <th onclick = "sortTable(0);">Sl No.</th>
                <th onclick = "sortTable(1);">State</th>
                <th onclick = "sortTable(2);">Positive</th>
                <th onclick = "sortTable(3);">Negative</th>
                <th onclick = "sortTable(4);">Pending</th>
                <th hidden>Hospitalized Currently</th>
                <th hidden>Hospitalized Cumulative</th>
                <th hidden>In ICU Currently</th>
                <th hidden>In ICU Cumulative</th>
                <th hidden>On Ventilator Currently</th>
                <th hidden>On Ventilator Cumulative</th>
                <th hidden>Recovered</th>
                <th hidden>Last Update ET</th>
                <th hidden>Check Time ET</th>
                <th onclick = "sortTable(5);">Death</th>
                <th onclick = "sortTable(6);">Date Modified</th>
            </tr>
        </thead>
        <tbody>
        {% set s = 1 %}
        {% for record in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{record["state"]}}</td>
            <td>{{record["positive"]}}</td>
            <td>{{record["negative"]}}</td>
            <td>{{record["pending"]}}</td>
            <td hidden>{{record["hospitalizedCurrently"]}}</td>
            <td hidden>{{record["hospitalizedCumulative"]}}</td>
            <td hidden>{{record["inIcuCurrently"]}}</td>
            <td hidden>{{record["inIcuCumulative"]}}</td>
            <td hidden>{{record["onVentilatorCurrently"]}}</td>
            <td hidden>{{record["onVentilatorCumulative"]}}</td>
            <td hidden>{{record["recovered"]}}</td>
            <td hidden>{{record["lastUpdateEt"]}}</td>
            <td hidden>{{record["checkTimeEt"]}}</td>
            <td>{{record["death"]}}</td>
            <td>{{record["dateModified"]}}</td>
        </tr>
        {% set s = s + 1 %}
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
      $(document).ready(function(){
        var table = $("#myTable tr");
        for(i=1; i<table.length; i++){
          var row = table[i];
          var state = $(row).find("td")[1].innerHTML;
          var positive = $(row).find("td")[2].innerHTML;
          var negative = $(row).find("td")[3].innerHTML;
          var pending = $(row).find("td")[4].innerHTML;
          var hospitalizedCurrently = $(row).find("td")[5].innerHTML;
          var hospitalizedCumulative = $(row).find("td")[6].innerHTML;
          var inIcuCurrently = $(row).find("td")[7].innerHTML;
          var inIcuCumulative = $(row).find("td")[8].innerHTML;
          var onVentilatorCurrently = $(row).find("td")[9].innerHTML;
          var onVentilatorCumulative = $(row).find("td")[10].innerHTML;
          var recovered = $(row).find("td")[11].innerHTML;
          var lastUpdateEt = $(row).find("td")[12].innerHTML;
          var checkTimeEt = $(row).find("td")[13].innerHTML;
          var death = $(row).find("td")[14].innerHTML;
          var dateModified = $(row).find("td")[15].innerHTML;
          $.ajax({
            url:"/",
            type:"POST",
            async:"true",
            data:{
              "state":state,
              "positive":positive,
              "negative":negative,
              "pending":pending,
              "hospitalizedCurrently":hospitalizedCurrently,
              "hospitalizedCumulative":hospitalizedCumulative,
              "inIcuCurrently":inIcuCurrently,
              "inIcuCumulative":inIcuCumulative,
              "onVentilatorCurrently":onVentilatorCurrently,
              "onVentilatorCumulative":onVentilatorCumulative,
              "recovered":recovered,
              "lastUpdateEt":lastUpdateEt,
              "checkTimeEt":checkTimeEt,
              "death":death,
              "dateModified":dateModified
              },
            success:function(data){
              if(data=="success"){
                $("#alertMessage").html("Data Persisted");
              }
              else{
                $("#alertMessage").html("Error in data persistence");
              }
            }

          })
        }
      })
    </script>
    <script type="text/javascript">
      function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        dir = "asc";
        while (switching) {
          switching = false;
          rows = table.rows;
          for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
              }
            }
            else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
              }
            }
          }
          if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount ++;
          }
          else {
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }
    </script>
</body>
</html>
